html {
  touch-action: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #faf8ef;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: rgb(35, 36, 38);
  margin: auto;
  font-family: "Courier New", sans-serif;
  font-weight: 300;
  touch-action: none;
}




.displayChildOnHover:hover {
  /* background-color: rgba(100, 100, 100, 0.2); */
}
.displayChildOnHover:hover > .hidden {
  display: block;
}
.hidden {
  display: none;
}




button {
  font: inherit;
  font-size: 16px;
  color: #6ce989;
  background-color: inherit;
}

button:hover {
  background-color: black;
}

button:disabled: {
  color: gray;
}

button:active {
  color: white;
}



input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-height: 16px;
  background-color: transparent;
  border: 1px solid #6ce989;
  padding: 3px;
  padding-right: 8px;
}

input[type="radio"]:checked {
  background-color: #6ce989;
}

input[type="radio"]:checked::before {
  font-family: inherit;
  font-size: 18px;
  position: absolute;
  top: 2px;
  left: 2px;
  color: #6ce989;
}

/* Change the color of the label text when the radio is selected */
input[type="radio"]:checked + label {
  color: #6ce989;
}

